body {
  margin: 0 30%;
  background: black;
}

.App {
  text-align: center;
}

@keyframes test {
  from {background-color: #66FF66;}
  to {background-color: #6666FF;}
}

.Header {
  font-size: 4em;
  color: Black;
  background: #66FF66;
  padding: 40px 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  animation: test 2s alternate infinite;
}

.DadJoke {
  padding: 80px 80px;
  background: #FF6666;
  color: white;
  font-size: 30px;
}

.Buss
{
  padding: 80px 80px;
  background: #6666FF;
}